body {
	margin: 0;
	font-family: Helvetica;
	background-color: red;
}
#container {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}
h1 {
	font-weight: 100;
}
#logo {
	height: 80px;
	width: 80px;
}